<div class="container p-4" style="text-align: center; background: rgb(221, 221, 221); border: solid 8px goldenrod;">
  <div class="container pt-2 gif-container ">
    <div class="" >
      <img [src]="randomGifUrl" alt="Random GIF" />
    </div>
  </div>
  <div>
    <br>
  </div>

  <div class="container pt-4">
    <h4 style="color: rgb(106, 106, 106);">{{ data.message }}</h4>
  </div>

  <div class="container pt-2">
    <h2 style="color: rgb(106, 106, 106);">
      {{ randomPhrase }}
    </h2>
  </div>

  <div class="container pt-4">
    <img
    src="assets/ImagenGrupompleo.png"
    alt="GrupoMpleo Logo"
    class="logo-smaller"
  />
  </div>
</div>
