<div class="container alarm-container" style="text-align: center;">
  <div class="">
    <div class="container">
      <div class="row pt-5">
        <div class="col">
          <div class="gif-container">
            <img [src]="randomData.gifUrl" alt="Random GIF" />
          </div>
        </div>
      </div>

      <div class="row pt-5">
        <div class="col">
          <div class = "text-container">
            <h2>{{ randomData.phrase }}</h2>
          </div>
        </div>
      </div>

      <div class="row p-5">
        <div class="col">
          <img
            src="assets/ImagenGrupompleo.png"
            alt="GrupoMpleo Logo"
            class="logo-smaller"
          />
        </div>
      </div>

    </div>
  </div>
</div>
